In [ ]:
Import numpy and pandas

In [3]:
import numpy as np
import pandas as pd

Import visualization libraries and set %matplotlib inline

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Read in the csv file as a dataframe called df

In [12]:
df = pd.read_csv('911.csv')

Check the info() of the dataframe called df

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226641 entries, 0 to 226640
Data columns (total 9 columns):
lat          226641 non-null float64
lng          226641 non-null float64
desc         226641 non-null object
zip          199102 non-null float64
title        226640 non-null object
timeStamp    226640 non-null object
twp          226561 non-null object
addr         226640 non-null object
e            226640 non-null float64
dtypes: float64(4), object(5)
memory usage: 15.6+ MB

Check the head of df

In [17]:
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1.0
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1.0
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1.0
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1.0
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1.0

# Basic Questions

What are the top 10 zipcodes for 911 calls?

Specifies top 10 value_counts from the 'zip' column in df

In [19]:
df['zip'].value_counts().head(10)

19401.0    15659
19464.0    15284
19403.0    11457
19446.0    10900
19406.0     7473
19002.0     7106
19468.0     6681
19454.0     6191
19046.0     6175
19090.0     5976
Name: zip, dtype: int64

What are the top 10 townships (twp) for 911 calls?

In [20]:
df['twp'].value_counts().head(10)

LOWER MERION        19383
ABINGTON            13846
NORRISTOWN          13092
UPPER MERION        11866
CHELTENHAM          10457
POTTSTOWN            9501
UPPER MORELAND       7756
LOWER PROVIDENCE     7550
PLYMOUTH             6959
HORSHAM              6498
Name: twp, dtype: int64

How many unique title codes are in the 'title' column?

In [22]:
df['title'].nunique()

128

# Creating New Features

In the titles column there are "Reasons/Departments" specified before the title code. These are EMS, Fire, and Traffic. 

.apply() is used with a custom lambda expression to create a new column called "Reason" that contains this new string value.

For example, if the title column value is 'EMS: BACK PAINS/INJURY', the Reason column value would be EMS.

What is the most common reason for a 911 call based off of the new 'reasons' column?

In [24]:
x = df['title'].iloc[0]

In [25]:
x.split(':')[0]

'EMS'